.about{
    margin:70px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:80%;
    color: darkslategray;
}
.about-left{
    flex-basis: 40%;
}
.about-img{
    width:100%;
    border-radius: 10px;

}
.about-right{
    flex-basis: 55%;
}
.about h3{
    font-weight:600;
    font-size: 16px;

}
.about p{
    line-height: 30px;
    margin-bottom:15px;
}

/* media query */

@media (max-width:800px){
    .about{
        flex-direction: column;
    }
    .about-left{
        flex-basis:100%;
        margin:20px;
    }
    .about-right{
        flex-basis:100%;
    }
}

  .about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 0;
    transition: opacity 1s ease; /* Slow down opacity transition */
  }
  
  .about.animate {
    opacity: 1;
  }
  
  .about-left {
    animation: slideInLeft 1.5s forwards; /* Slow down left slide animation */
  }
  
  .about-right {
    animation: slideInRight 1.5s forwards; /* Slow down right slide animation */
  }
  
  @keyframes slideInLeft {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }
  
  @keyframes slideInRight {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }
  
  