.logo{
    height:50px;
    width:120px;
    border-radius: 10px;
    margin-left:50px;
    margin-top:7px;
}
nav{
    width:100%;
    /* background: black ; */
    color: white;
    padding:8px 0;
    position: fixed;
    /* margin-right:30px; */
    top:0;
    left:0;
    display:flex;
    align-items:center;
    justify-content: space-between;
    z-index:10;
}
nav ul li{
    display:inline-block;
    list-style:none;
    margin:10px 20px;
    font-size:17px;
}
.btn{
    background: white;
    color: #212121;
    padding:14px 25px;
    font-size:16px;
    border-radius: 30px;
    cursor: pointer;
    border:0;
    outline:0;
}
.dark-nav{
    background-color: #11424Bff;
    transition:0.5s;
}
nav ul li::after{
    content:"";
    width:0px;
    height:4px;
    background:white;
    display:block;
    margin:auto;
    transition:0.3s;
    cursor:grab;
}
nav ul li:hover::after{
    width:100%;
}
.menu-icon{
    display:none;
}

/* media query */
@media (max-width: 1000px){
    .logo{
        width:100px;
    }
    nav ul li{
        margin:10px 15px;
    }

}
@media (max-width: 840px){
    nav{
        padding:15px 0;
    }
    nav ul{
        position:fixed;
        top:0;
        right:0;
        bottom:0;
        background: #11424Bff ;
        z-index: -1 ;
        width: 150px ;
        padding-top:70px;
        transition:0.5s;
    }
    nav ul li{
        display:block;
        margin:25px 40px;
    }
    .menu-icon{
        display:block;
        margin-right:30px;
        color:white;
        width:30px;
        cursor:pointer;
    }
    .hide-mobile-menu{
        right:-200px;
        /* display:none; */
    }
}
